@model IEnumerable<Product>

@{
    ViewBag.Title = "Gift Purchase Store Items";
}

<h2 class="text-center my-4">Gift Purchase Store Items</h2>
<div class="container">
    <div class="row g-4">
        @foreach (var prod in Model)
        {
            <div class="col-md-4 col-lg-3">
                <div class="card product-card shadow-sm">
                    <img src="@Url.Content("~/images/" + prod?.ImageUrl)" class="card-img-top fixed-image-height" alt="@prod.Description">
                    <div class="card-body text-center">
                        <h5 class="card-title text-truncate">@prod.Name</h5>
                        <p class="card-text text-muted small">@prod.Description</p>
                        <p class="card-text fw-bold">₹@prod.Price</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
